body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#center{
	width: 300px;
	background-color: #fff;
	text-align: center;
	top: 10%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	border: outset 3px #00f;
	box-shadow: 2px 2px 3px #000;
}